/* код Ани */
.footer {
  margin-top: 56px;
}

.footer__name-yabao {
  font-family: 'Panton';
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 47px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #231f20;
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer__name-food {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 9.3px;
  line-height: 11px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #231f20;
  margin-top: 0px;
  margin-left: 2px;
  margin: 0px;
}

.footer__name {
  margin-left: 18px;
}

.footer__information {
  margin-top: 39px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  width: 458px;
}

.footer__information-composition {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.85;
  text-decoration: none;
}

.footer__information-composition:hover {
  color: #ff2e65;
}

.footer__information-right {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.85;
  text-decoration: none;
}

.footer__information-right:hover {
  color: #ff2e65;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__sotialmedia {
  display: flex;
  width: 350px;
  justify-content: space-between;
  height: 50px;
}

.footer__information-social {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.85;
  text-decoration: none;
}

.footer__sotialmedia-allmedias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__sotialmedia-elements {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.7;
  text-decoration: none;
}

.footer__sotialmedia-elements:hover {
  color: #ff2e65;
}

.footer__license {
  width: 573px;
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
}

.footer__license-right {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.8;
  margin-top: 9px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer-questions {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #0e0c0d;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer__buttons__top-buttons {
  width: 101px;
  height: 52px;
  left: 885px;
  top: 2007px;
  border: 2px solid #e3ecf5;
  border-radius: 13px;
  background-color: white;
  cursor: pointer;
}

.footer__buttons__top-buttons:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.footer__buttons__bottom-buttons {
  width: 101px;
  height: 52px;
  left: 885px;
  top: 2007px;
  border: 2px solid #e3ecf5;
  border-radius: 13px;
  background-color: white;
  cursor: pointer;
}

.footer__buttons__bottom-buttons:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.footer__buttons__bottom-write {
  width: 206px;
  height: 52px;
  left: 1114px;
  top: 2073px;
  border: 2px solid #e3ecf5;
  border-radius: 13px;
  background-color: white;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #0e0c0d;
  opacity: 0.8;
}

.footer__buttons__bottom-write:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.footer__buttons__bottom {
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
}

.footer__number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ff2e65;
  margin-top: 47px;
}

.footer__call {
  width: 180px;
  height: 42px;
  left: 885px;
  top: 2228px;
  background: #f3f3f7;
  border-radius: 28px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #696f7a;
  border: none;
  margin-top: 19px;
}

.footer__call:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.footer__buttons {
  margin-top: 36px;
}

.footer__call:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.logo-picrure {
  position: absolute;
  width: 312px;
  height: 245px;
  left: 300px;
  top: 180px;
  z-index: -1;
}

@media screen and (max-width: 1475px) {
  .logo-picrure {
    display: none;
  }
}

.footer-relative {
  position: relative;
}

.promo-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ff2e65;
  margin-top: 29px;
  margin-bottom: 25px;
}

.promo__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.card-all {
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  height: 391px;
  display: flex;
  flex-direction: column;
}

.promo__card-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0e0c0d;
  margin-top: 13px;
}

.card-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #686466;
}

.promo__button {
  width: 159px;
  height: 45px;
  left: 240px;
  top: 527px;
  background: #ff2e65;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}

.promo__button:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

/*чей код ниже я не знаю*/
.quantity_inner {
  color: #ff2e65;
}

/*чей код ниже я не знаю*/
.quantity_inner {
  box-sizing: border-box;
}

.quantity_inner {
  display: inline-flex;
  border-radius: 26px;
  border: 4px solid #337ab7;
}

.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
  height: 40px;
  width: 40px;
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
}

.quantity_inner .quantity {
  width: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
  stroke: #337ab7;
  stroke-width: 4;
  transition: 0.5s;
  margin: 10px;
}

.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
  stroke: #000;
}

.carouselPrograms .carousel-inner .active,
.carouselPrograms .carousel-inner .active + .carousel-item,
.carouselPrograms .carousel-inner .active + .carousel-item + .carousel-item {
  display: block;
}

.carouselPrograms
  .carousel-inner
  .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carouselPrograms
  .carousel-inner
  .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
  + .carousel-item,
.carouselPrograms
  .carousel-inner
  .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
  + .carousel-item
  + .carousel-item {
  transition: none;
}

.carouselPrograms .carousel-inner .carousel-item-next,
.carouselPrograms .carousel-inner .carousel-item-prev {
  position: relative;
  transform: translate3d(0, 0, 0);
}

.carouselPrograms
  .carousel-inner
  .active.carousel-item
  + .carousel-item
  + .carousel-item
  + .carousel-item {
  position: absolute;
  top: 0;
  right: -33.333%;
  z-index: -1;
  display: block;
  visibility: visible;
}

/* left or forward direction */
.carouselPrograms
  .active.carousel-item-left
  + .carousel-item-next.carousel-item-left,
.carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item,
.carouselPrograms
  .carousel-item-next.carousel-item-left
  + .carousel-item
  + .carousel-item,
.carouselPrograms
  .carousel-item-next.carousel-item-left
  + .carousel-item
  + .carousel-item
  + .carousel-item {
  position: relative;
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
  display: block;
  visibility: visible;
}

/* right or prev direction */
.carouselPrograms
  .active.carousel-item-right
  + .carousel-item-prev.carousel-item-right,
.carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item,
.carouselPrograms
  .carousel-item-prev.carousel-item-right
  + .carousel-item
  + .carousel-item,
.carouselPrograms
  .carousel-item-prev.carousel-item-right
  + .carousel-item
  + .carousel-item
  + .carousel-item {
  position: relative;
  transform: translate3d(100%, 0, 0);
  visibility: visible;
  display: block;
  visibility: visible;
}

/* код Инны */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-bold.ttf);
}

@media screen and (max-width: 1220px) {
  .newcard__onion {
    display: none;
  }
}

.homepage {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1110px;
  margin: auto;
  padding: 15px;
}

.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-up__img {
  margin-top: 8px;
}

.header-up__delivery {
  margin-right: 50px;
}

.header-up__city {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #231f20;
}

.header-up__city_pink {
  color: #ff2e65;
}

.header-up__time {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #231f20;
}

.header-up__time_pink {
  color: #ff2e65;
}

.header-up__btn-call {
  width: 180px;
  height: 42px;
  margin-left: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 28px;

  color: #696f7a;
  border: none;
  background: #f3f3f7;
  border-radius: 28px;
}

.header-up__number {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;

  text-transform: uppercase;

  color: #ff2e65;
}

.header-down {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.header-down__links {
  display: flex;
  justify-content: flex-start;
}

.header-down__link {
  align-items: center;
  margin-right: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #0e0c0d;
  text-decoration: none;
}

.header-down__link:hover {
  color: #ff2e65;
}

.header-down__link_grey {
  display: flex;
  align-items: flex-start;

  margin-right: 3vw;
  font-weight: 700;
  font-size: 16px;

  color: #696f7a;
}

.header-down__btn-link {
  display: flex;
  align-items: flex-start;
}

.header-down__btn {
  margin-top: -13px;

  border: none;
  background-color: white;
}

.figure {
  width: 100%;
  margin: 0;
}

.figure__img {
  width: 100%;
}

.new {
  position: relative;
}

.newcard__onion {
  position: absolute;
  left: -65px;
  bottom: -45px;
  z-index: -1;
}

.new__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.newcard {
  display: flex;
  flex-grow: 1;

  width: 255px;

  cursor: pointer;
}

.newcard__img {
  height: 71px;
}

.newcard__img img {
  height: 100%;
  border-radius: 60px;
}

.newcard__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #ff2e65;
}

.new__block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 25px;
}

.newcard__title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.novelty {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;

  color: #ff2e65;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
  grid-template-rows: auto;
}

.card {
  display: grid;

  margin-right: 15px;
  margin-bottom: 10px;
  height: auto;

  cursor: pointer;
}

.card__img {
  width: 100%;
  height: 253px;
}

.card__img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 15px;
}

.card__name {
  margin-bottom: 18px;

  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: #0e0c0d;
}

.card__description {
  margin-bottom: 18px;

  font-weight: 500;
  font-size: 13px;
  line-height: 19px;

  color: #686466;
}

.card__group {
  display: flex;
  align-self: end;
  justify-content: space-between;
}

.card__price {
  display: flex;
  align-items: flex-end;

  margin-left: 10px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 22px;
  line-height: 19px;

  color: #231f20;
}

.card__btn {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;

  background-color: white;
  border: none;
}

.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion__title {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}

.promotion__title_special {
  margin-left: 10px;
  color: #ff2e65;
}

.container {
  display: flex;
  justify-content: center;
}

.container__img_big {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
  grid-template-rows: auto;

  width: 49%;
  max-height: 352px;
}

.container__img_little {
  height: 85%;
  margin: 10px;
}

.container__img_left {
  margin: 10px;
}

.container__img img {
  width: 100%;
  height: 100%;

  border-radius: 20px;
  object-fit: cover;
}
.container__a-btn {
  text-decoration: none;
}

.container__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  width: 160px;
  height: 48px;
  border: none;

  background-color: white;
  background-image: url(../images/homepage/btn-promo.svg);
  font-family: 'Montserrat';

  font-weight: 700;
  font-size: 14px;
  line-height: 28px;

  color: #ffffff;
}

.location {
  width: 100vw;
  margin-top: 60px;
  background-color: #e3ecf5;
}

.location__flex {
  display: flex;
  flex-direction: column;
}

.location__title {
  display: flex;
  justify-content: center;

  margin-top: 56px;

  font-weight: 700;
  font-size: 30px;
  line-height: 37px;

  color: #ff2e65;
}

.location__map {
  margin-top: 32px;
  margin-bottom: 74px;
}

.location__block {
  display: flex;
  justify-content: space-between;
}

.location__block img {
  width: 25%;
}

button {
  cursor: pointer;
}

.printing-type {
  font-family: 'Montserrat', sans-serif;
}

/* product.html  */
.b-popup {
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}

.product-card {
  display: flex;

  align-items: center;
  justify-content: space-around;

  width: 959px;
  height: 610px;

  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.08);
  border-radius: 22px;
  background-color: white;
}

.product-card-wrapper {
  display: flex;
  position: absolute;
  top: 100px;
}

.product-card__btn-close {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.product-card__btn-close img:hover {
  border: 1.5px solid #ff2e65;
}

.product-card__img {
  display: flex;

  width: 504px;
  height: 504px;
}

.product-card__img img {
  border-radius: 22px;
  object-fit: cover;
  width: 100%;
}

.prodact-card__info {
  display: flex;
  flex-direction: column;
  position: relative;

  height: calc(454px+25px+59px);
  width: 349px;
}

.product-card__name {
  margin-top: -10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
}

.product-card__description {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;

  color: #686466;
}

.product-card__ingredients {
  display: flex;

  font-weight: 600;
  font-size: 11px;
  line-height: 28px;

  color: #686466;

  opacity: 0.6;
}

.product-card__close img {
  margin-bottom: -6px;
  cursor: pointer;
}

.prodact-card__size {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;

  color: #686466;
}

.product-card__options {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;

  width: 99%;
}

.product-card__options button {
  border: none;
  background-color: white;

  padding: 0;
}

.product-card__additions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card__add {
  display: grid;
  position: relative;

  margin-top: 13px;

  border: 1.5px solid #e2e2e9;
  border-radius: 12px;
  width: 102px;
  height: 159px;
}

.product-card__add:hover {
  border: 1.5px solid #ff2e65;
}

.product-card__add img {
  width: 96%;
  margin: 2px;

  border-radius: 12px;
  object-fit: cover;
}

.product-card__add-name {
  width: 100%;

  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
}

.product-card__add-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #ff2e65;
}

.gradient {
  position: absolute;
  left: 0;
  top: 0;

  border-radius: 12px;
  width: 102px;
  height: 159px;

  background: linear-gradient(
    to bottom,
    rgba(237, 237, 237, 0) 40%,
    rgba(246, 246, 246, 0.8) 50%
  );
}
.product-card__btn-cart a {
  text-decoration: none;
  color: white;
}

.product-card__btn-cart {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: -10px;

  width: 349px;
  height: 59px;

  font-weight: 800;
  font-size: 15px;
  line-height: 28px;

  color: #ffffff;
  border: none;
  background-color: white;
  background: #ff2e65;
  border-radius: 8px;
}

/* код Иры */

/* .page__map {
  margin-top: 5vh;
} */
.header__menu_up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.button-call {
  background-color: #f3f3f7;
  border: 1px #f3f3f7 solid;
  border-radius: 28px;
  padding: 0.65vw;
  padding-left: 1vw;
  padding-right: 1vw;
  cursor: pointer;
  margin-left: 6vw;
}

.header__menu_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.header__menu_link:hover {
  color: #ff2e65;
}

.button-basket {
  background-color: #ff2e65;
  border: 1px #ff2e65 solid;
  border-radius: 8px;
  padding: 0.65vw;
  padding-left: 1vw;
  padding-right: 1vw;
  cursor: pointer;
}

.map {
  overflow: hidden;
  padding-bottom: 35%;
  margin-bottom: 4vh;
  position: relative;
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Стили Иры для страниц "enter_1 - enter_4" */
.background {
  width: 100%;
}

.background__img {
  max-width: 100%;
  text-align: center;
}

.b-popup {
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}

.b-popup-content {
  margin: 92px 410px 0px auto;
  width: 668px;
  height: 320px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4 28 0 #000000 8%;
  display: flex;
  justify-items: center;
}

.enter_wrapper {
  padding-top: 20px;
  padding-left: 40px;
}

.enter {
  display: flex;
  align-items: flex-start;
}

.line__phone_1 {
  display: flex;
  align-items: baseline;
  padding-top: 30px;
}

/*NEW 29.12_15.37*/
.textbox {
  margin-left: 10px;
  border: 1px #e2e2e9 solid;
  border-radius: 8px;
  width: 255px;
  height: 48px;

  padding-left: 15px;
}

/*NEW 29.12_15.37*/
.textbox_2 {
  border: 1px #e2e2e9 solid;
  margin-right: 15px;
  border-radius: 8px;
  width: 86px;
  height: 48px;
  text-align: center;
}

/*NEW 29.12_15.37*/
.textbox_4 {
  margin-left: 10px;
  border: 1px #ff2e65 solid;
  border-radius: 8px;
  width: 86px;
  height: 48px;
  padding-left: 15px;
  margin-right: 22px;
}

.line__code_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 60px;
}

.comitment {
  text-align: left;
  padding-left: 20px;
}

.line__phone_2 {
  display: grid;
  grid-template-columns: 2.5fr 2.4fr 1fr 1.8fr;
  grid-gap: 0px;
  margin-top: 40px;
}

.line__phone_2-2 {
  display: grid;
  grid-template-columns: 2.5fr 1.7fr 2.3fr 2fr;
  grid-gap: 0px;
  margin-top: 40px;
  align-items: baseline;
}

.alarm_btn {
  position: relative;
  left: 150px;
  bottom: -15px;
}
.font__button-basket_alarm {
  padding-top: 2px;
}
.alarm_img {
  padding-top: 4px;
  margin-right: 5px;
}
.rectangle {
  position: relative;
  bottom: 20px;
  left: 50px;
}
.product-card__btn-close_enter {
  position: relative;
  left: 650px;
  bottom: 265px;
  cursor: pointer;
}
.product-card__btn-close_enter img:hover {
  border: 1.5px solid #ff2e65;
}
.product-card__btn-close_enter-2 {
  position: relative;
  left: 650px;
  bottom: 218px;
  cursor: pointer;
}
.product-card__btn-close_enter-2 img:hover {
  border: 1.5px solid #ff2e65;
}
.product-card__btn-close_enter-3 {
  position: relative;
  left: 650px;
  bottom: 183px;
  cursor: pointer;
}
.product-card__btn-close_enter-3 img:hover {
  border: 1.5px solid #ff2e65;
}
.product-card__btn-close_enter-4 {
  position: relative;
  left: 650px;
  bottom: 260px;
  cursor: pointer;
}
.product-card__btn-close_enter-4 img:hover {
  border: 1.5px solid #ff2e65;
}

/*Стили Иры для страницы "delivery_time" */
.b-popup-content-2 {
  margin: 92px 410px 0px auto;
  width: 668px;
  height: 454px;
  padding: 10px;
  background-color: #e3ecf5;
  border-radius: 12px;
  box-shadow: 0 4 28 0 #000000 8%;
  display: flex;
  justify-items: center;
}

/*NEW 29.12_15.37*/
.textbox__time {
  margin-left: 10px;
  width: 280px;
  height: 32px;
  border: 1px #e2e2e9 solid;
  border-radius: 8px;
  padding-left: 15px;
  background-color: white;
  cursor: pointer;
  padding-top: 18px;
}
.time-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.time-choice a {
  text-decoration: none;
}
.enter_wrapper-2 {
  padding-top: 20px;
  padding-left: 20px;
}

.enter-2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.textbox__time {
  margin-bottom: 15px;
}

.textbox__time:hover {
  border: 1px #ff2e65 solid;
}

.product-card__btn-close_deltime {
  position: relative;
  left: 665px;
  bottom: 415px;
  cursor: pointer;
}

.product-card__btn-close_deltime img:hover {
  border: 1.5px solid #ff2e65;
}

.bonus_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* order.html */
.header-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-order__logo,
.header-order__ink {
  margin: 12px;
}

.separation-line {
  background-color: #ececf1;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  height: 1px;
}

.order-box-article {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 39px;
  color: #ff2e65;
  margin: 30px 12px;
}

.order-box-info {
  display: flex;
  justify-content: space-between;
}

.order-box-form {
  margin: 30px 0 30px 12px;
  display: grid;
  grid-template-columns: 180px 480px;
  justify-items: start;
  justify-content: start;
  align-content: center;
}

.order-box-form__element {
  display: block;
  align-self: center;
}

.order-box-form__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #231f20;
  opacity: 0.7;
}
#order-promo_form_button:hover {
  cursor: pointer;
}
#order-return__button:hover {
  cursor: pointer;
}
.order-box-form__input {
  width: 460px;
  height: 48px;
  background-color: #e3ecf5;
  border: none;
  border-radius: 10px;
}

.order-list-info {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}

.order-list__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ff2e65;
  margin: 20px 0;
}

.order-list {
  background-color: #ffffff;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.08);
  margin: 0px 12px 0 0;
  padding: 12px;
}

.order-list-info__item {
  width: 220px;
}

.order-list-info__item_name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgba(35, 31, 32, 0.8);
  margin: 0px;
}

.order-list-info__item_description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 28px;
  color: rgba(35, 31, 32, 0.8);
  opacity: 0.6;
  margin: 0px;
}

.order-list-info__item_price {
  width: 60px;
}

.order-list-info__item_price_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  text-align: right;
  color: #231f20;
  margin: 0px;
}

.order-list-info__sum {
  margin: 50px 0 20px 0;
}

.order-list-info__free {
  margin: 20px 0px;
  text-align: center;
}

.order-list-info__item_name_addition {
  margin: 0px auto;
}

.order-promo {
  margin-left: 12px;
  margin-top: -60px;
}

.order-promo_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 17px;
  color: #ff2e65;
}

.order-promo_form {
  display: flex;
  align-items: flex-end;
}

#order-promo_form_input {
  width: 220px;
  height: 43px;
  border: 1.5px solid #e2e2e9;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 28px;
  color: #686466;
  opacity: 0.82;
}

#order-promo_form_button {
  margin-left: -10px;
  width: 133px;
  height: 49px;
  background: #ff2e65;
  border-radius: 0px 8px 8px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  z-index: 1;
  position: relative;
}

.order-payments {
  width: 730px;
  height: 238px;
  background-color: #f1f2f5;
  border-radius: 6px;
  margin: 12px;
}

.order-payments__article {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 17px;
  color: #ff2e65;
  padding-top: 25px;
  padding-left: 25px;
}

.order-payments__article_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  color: #213134;
}

.order-payments__article_que {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  color: #231f20;
  opacity: 0.7;
}

.order-payments-radio {
  width: 19px;
  height: 19px;
  border: 2px solid #ff2e65;
  border-radius: 5px;
  margin-right: 16px;
}
.order-payments__option_card {
  margin-right: 8px;
}
.order-payments-radio:checked {
  border: 6px solid #ff2e65;
}

.order-payments__option {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.order-payments-text {
  width: 116px;
  height: 46px;
  margin: 0px 24px;
  text-align: end;
  background: #ffffff;
  border: 1.5px solid #e2e2e9;
  border-radius: 7px;
}
.order-spam {
  margin: 30px 0px 15px 12px;
}
.order-return {
  margin: 30px 0px 0px 12px;
}
#order-return__button {
  width: 301px;
  height: 60px;
  background-color: #ff2e65;
  border-radius: 8px;
  border-style: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.order-return__button {
  margin-top: -60px;
  width: 740px;
  display: flex;
  justify-content: flex-end;
}
