.wrapper {
  max-width: 1100px;
  margin: auto;
}

.logo_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title_main {
  font-weight: 700;
  font-size: 36px;
  color: #ff2e65;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 17px;
  color: #ff2e65;
}
.price_cart {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ff2e65;
}

.quantity_inner * {
  box-sizing: border-box;
}
.quantity_inner {
  display: inline-flex;
  border-radius: 10px;
  border: 4px solid #f3f3f7;
  position: relative;
  background: #f3f3f7;
  z-index: 1;
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .bt_buy,
.quantity_inner .quantity {
  height: 40px;
  width: 40px;
  padding: 0;
  border: 0;
  margin: 0;
  background: #f3f3f7;
  cursor: pointer;
  outline: 0;
  border-radius: 26px;
}
.quantity_inner .bt_buy {
  background: light-grey;
  width: 90px;
  height: 48px;
  position: absolute;
  right: -70px;
  top: -4px;
  z-index: -1;
  border-radius: 0 26px 26px 0;
  border: 4px solid light-grey;
}
.quantity_inner .quantity {
  width: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #686466;
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg,
.quantity_inner .bt_buy svg {
  stroke: grey;
  stroke-width: 4;
  transition: 0.5s;
  margin: 10px;
  fill: none;
  height: 17px;
  width: 10px;
}
.quantity_inner .bt_buy svg {
  stroke: #fff;
  position: relative;
  left: 6px;
}
.quantity_inner .bt_buy:hover svg {
  stroke: #fff;
}
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
  stroke: #000;
}
.add {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cards_wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.box {
  border-radius: 25px;
  border: 1.5px solid #ffffff;
  padding: 5px 5px;
  background: #ffffff;
}

.box:hover {
  border-color: #ff2e65;
  color: #ff2e65;
}
.card_cart {
  border-radius: 25px;
  border: 1.5px solid #ffffff;
  padding: 5px 5px;
  background: #ffffff;
}

.card_cart:hover {
  border-color: #ff2e65;
  color: #ff2e65;
}

.container_additive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 25px;
  border-bottom: 50px;
}
.card_cart {
  width: 115px;
  height: 173x;
  border-left: 15px;
  border-right: 15px;
  background: #fff;
  border: 1.5px solid #e2e2e9;
  border-radius: 12px;
  border-bottom: 50px;
}
.cart_image {
  width: 64.78px;
  height: 71px;
}

.card_title {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #000000;
}
.card_price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ff2e65;
}
.container_promo {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
#button-addonTags {
  width: 133px;
  height: 43px;
  left: 599px;
  top: 990px;
  color: #ffffff;
  background: #ff2e65;
  border-radius: 0px 8px 8px 0px;
}
.btn {
  color: #ff2e65;
}
.order_sum {
  width: 190px;
  height: 17px;
  left: 836px;
  font-weight: 600;
  font-size: 24px;
  line-height: 17px;
  color: #0e0c0d;
}
.order_amount {
  width: 137px;
  height: 44px;
  left: 1035px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: right;
  color: #ff2e65;
}
.cart_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.back-to-shop {
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;

  color: rgba(35, 31, 32, 0.8);
}
.footer_button a:hover {
  text-decoration: none;
  color: white;
}
.footer_back a:hover {
  text-decoration: none;
  color: rgba(35, 31, 32, 0.8);
}

.button_order {
  color: #ffffff;
  background: #ff2e65;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 8px;

  cursor: pointer;
}

.footer__name-yabao {
  font-family: "Panton";
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 47px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #231f20;
  margin-bottom: 0px;
  margin-top: 0px;
}
.footer__name-food {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 9.3px;
  line-height: 11px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #231f20;
  margin-top: 0px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__name {
  margin-left: 18px;
}
.footer__information {
  margin-top: 43px;
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
  width: 25vw;
}
.footer__information-composition {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.85;
  text-decoration: none;
}
.footer__information-right {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.85;
  text-decoration: none;
}
.footer__information-social {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.85;
  text-decoration: none;
}
.footer__sotialmedia {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  height: 50px;
}
.footer__sotialmedia-allmedias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__sotialmedia-elements {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.7;
  text-decoration: none;
}
.footer__license {
  width: 31vw;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.footer__license-right {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #0e0c0d;
  opacity: 0.8;
  margin: 0px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
}
.footer-questions {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #0e0c0d;
  display: flex;
  height: 60px;
  align-items: center;
}
.footer__buttons__top-buttons {
  width: 101px;
  height: 52px;
  left: 885px;
  top: 2007px;
  border: 2px solid #e3ecf5;
  border-radius: 13px;
  background-color: white;
  cursor: pointer;
}
.footer__buttons__top-buttons:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.footer__buttons__bottom-buttons {
  width: 101px;
  height: 52px;
  left: 885px;
  top: 2007px;
  border: 2px solid #e3ecf5;
  border-radius: 13px;
  background-color: white;
  cursor: pointer;
}
.footer__buttons__bottom-buttons:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.footer__buttons__bottom-write {
  width: 206px;
  height: 52px;
  left: 1114px;
  top: 2073px;
  border: 2px solid #e3ecf5;
  border-radius: 13px;
  background-color: white;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #0e0c0d;
  opacity: 0.8;
}
.footer__buttons__bottom-write:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.footer__buttons__bottom {
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
}
.footer__number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ff2e65;
  margin-top: 47px;
}
.footer__call {
  width: 180px;
  height: 42px;
  left: 885px;
  top: 2228px;
  background: #f3f3f7;
  border-radius: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #696f7a;
  border: none;
  margin-top: 22px;
}
.footer__call:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.footer__buttons {
  margin-top: 36px;
}
.logo-picrure {
  position: absolute;
  width: 312px;
  height: 245px;
  left: 300px;
  top: 180px;

  z-index: -1;
}
.footer-relative {
  position: relative;
}

.bonus {
  width: 100vw;
  height: 559px;
  left: 0px;
  top: 149px;
  background: #e3ecf5;
}
.bonus-title_main {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  margin-left: 217px;
  margin-top: 43px;
  color: #ff2e65;
}
.bonus_form {
  width: 255px;
  height: 338px;
  margin-left: 220px;
  margin-top: 117px;
  align-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.bonus_image {
  width: 121px;
  height: 117px;
  left: 287px;
  top: 299px;
  margin: 67px 33px;
  align-self: center;
  text-align: center;
}
.bouns_text {
  width: 179px;
  height: 44px;
  left: 258px;
  top: 446px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #686466;
}
.form {
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.form * {
  box-sizing: border-box;
  line-height: 1.5;
}
.form__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ff2e65;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item > * {
  align-self: flex-start;
}

.form__label {
  font-weight: 600;
  padding: 10px 0;
}

.form__input {
  -webkit-appearance: none;

  width: 100%;
  max-width: 425px;

  /* Fix for Safari/iOS date fields */
  min-height: calc(0.9em + (0.8em * 2) + 0.6em);

  padding: 0.8em;
  font-size: 0.9em;
  font-family: "Source Sans Pro", sans-serif;

  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form__input:focus {
  background: #ffffff;
}

.form__input::placeholder {
  color: #bbbbbb;
}

.form__input--error {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}

.form__input--error::placeholder {
  color: #ffbfbf;
}

.form__error {
  padding-top: 10px;
  color: #d50000;
  font-size: 0.9em;
  visibility: hidden;
}

.form__input--error + .form__error {
  visibility: visible;
}

.form__input--small {
  max-width: 250px;
}

textarea.form__input {
  resize: none;
  min-height: 200px;
}

.form__btn {
  font-weight: 700;
  font-size: 16px;
  padding: 10px 16px;
  margin: 10px 0;
  color: #696f7a;
  background: #e3ecf5;
  border: 2px solid #e3ecf5;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.form__btn:active {
  background: #ff2e65;
}
.form button a:hover {
  text-decoration: none;
  color: white;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  max-width: 668px;
  max-height: 610px;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.08);
  border-radius: 22px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #ff2e65;
  text-decoration: none;
}
.pop__title {
  width: 287px;
  height: 17px;
  left: 451px;
  top: 137px;
  font-weight: 700;
  font-size: 32px;
  margin: 20px;
  line-height: 17px;
  color: #ff2e65;
}
.popup__text {
  margin-left: 42px;
}
.delivery-button__delivery {
  width: 166px;
  height: 48px;
  left: 451px;
  top: 197px;
  background: #ff2e65;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.9;
  border: 0;
  border-radius: 8px;
  margin-top: 25px;
  margin-right: 15px;
}
.delivery-button__selfdelivery {
  width: 166px;
  height: 48px;
  left: 632px;
  top: 197px;
  background: #f3f3f7;
  color: #828792;
  font-size: 18px;
  border-radius: 8px;
  border: 0;
}
.form {
  box-sizing: border-box;
  display: flex;
}
.address {
  width: 426px;
  height: 48px;
  border: 1.5px solid #e2e2e9;
  border-radius: 8px;
  margin-bottom: 14px;
  color: #231f20 bolder;
  font-weight: 700;
  font-size: 15px;
  margin-right: 8px;
}
.house {
  width: 133px;
  height: 48px;
  border: 1.5px solid #e2e2e9;
  border-radius: 8px;
  font-size: 15px;
  color: #231f20;
}
.appartment {
  width: 133px;
  height: 48px;
  border: 1.5px solid #e2e2e9;
  border-radius: 8px;
  margin-bottom: 39px;
  margin-right: 10px;
  color: #231f20;
  font-size: 15px;
}
.address-name {
  width: 573px;
  height: 48px;
  border: 1.5px solid #e2e2e9;
  border-radius: 8px;
  font-size: 15px;
  color: #231f20;
}
.Address-name__line {
  font-size: 14px;
  line-height: 28px;
  color: rgba(35, 31, 32, 0.62);
}
.Address-name__subline {
  color: #ff2e65;
}

.message {
  width: 573px;
  height: 76px;
  border: 1.5px solid #e2e2e9;
  border-radius: 8px;
  color: #231f20;
  font-size: 15px;
  margin-bottom: 20px;
}

.delivery-confirmation {
  width: 224px;
  height: 55px;
  background: #ff2e65;
  border-radius: 8px;
  font-size: 15px;
  color: #ffffff;
  border: 0;
}
